body {
    background-color: #feeba0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.checkout-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    height: 100vh;
    width: 100vw;
}

.checkout-text {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: flex-start;
    justify-self: center;
    font-size: 2.6vw;
    margin: 0;
}

.form {
    display: flex;
    padding-top: 3.5vw;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    background-color: #171717;
    height: 65vh;
    width: 23vw;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    border-radius: 3vw;
    color: white;
    padding: 1vw;
    gap: 1vw;
    margin-top: 7vw;
}

#name {
    border-radius: 2vw;
    height: 3vw;
    justify-content: flex-start;
    width: 19vw;
}

#card-number {
    border-radius: 2vw;
    height: 3vw;
    justify-content: flex-start;
    width: 19vw;
}
.exp-sec {
    display: flex;
    justify-content: flex-start;;
    gap: 3vw;
}

#expiration-date {
    border-radius: 2vw;
    height: 3vw;
    width: 6vw;
}

#security-code {
    border-radius: 2vw;
    height: 3vw;
    width: 6vw;
}

#phone-number {
    border-radius: 2vw;
    height: 3vw;
    justify-content: flex-start;
    width: 19vw;
}

.adress-postal {
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
}

#adress {
    border-radius: 2vw;
    height: 3vw;
    width: 11vw;
}

#postal-code {
    border-radius: 2vw;
    height: 3vw;
    width: 4.5vw;
}

#email {
    border-radius: 2vw;
    height: 3vw;
    justify-content: flex-start;
    width: 19vw;
}

.finalize-payment {
    border-radius: 2vw;
    height: 3vw;
    width: 15vw;
    background-color: #feeba0;
    border-style: none;
    font-size: 1vw;
    font-weight: bolder;
}

.logo {
    height: 12vh;
    width: 10vw;
    grid-row: 6 / 7;
    grid-column: 1 / 3;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 0.4vw;
}

.arrow-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 4rem;
    color: black;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

@media (max-width:60em) {

.checkout-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    height: 100vh;
    width: 100vw;
}


.checkout-text {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
    font-size: 7vw;
}

.form {
    display: flex;
    padding-top: 6vw;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    background-color: #171717;
    height: 67vh;
    width: 79vw;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
    border-radius: 3vw;
    padding: 1;
    gap: 4vw;
    color: white;
    justify-content: space-between;
}

#name {
    border-radius: 3vw;
    height: 7vw;
    justify-content: flex-start;
    width: 60vw;
}

#card-number {
    border-radius: 3vw;
    height: 7vw;
    justify-content: flex-start;
    width: 60vw;
}
.exp-sec {
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
}

#expiration-date {
    border-radius: 3vw;
    height: 7vw;
    width: 30vw;
}

#security-code {
    border-radius: 3vw;
    height: 7vw;
    width: 30vw;
}

#phone-number {
    border-radius: 3vw;
    height: 7vw;
    justify-content: flex-start;
    width: 60vw;
}

.adress-postal {
    display: flex;
    justify-content: flex-start;
    gap: 5vw;
}

#adress {
    border-radius: 3vw;
    height: 7vw;
    width: 40vw;
}

#postal-code {
    border-radius: 3vw;
    height: 7vw;
    width: 20vw;
}

#email {
    border-radius: 3vw;
    height: 7vw;
    justify-content: flex-start;
    width: 60vw;
}

.finalize-payment {
    border-radius: 3vw;
    height: 11vw;
    width: 50vw;
    background-color: #feeba0;
    border-style: none;
    font-size: 3vw;
    font-weight: bolder;
}

.logo {
    display: none;
}

.arrow-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 4rem;
    color: black;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}


}