body {
    background-color: #feeba0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    height: 100vh;
    width: 100vw;
}

.content {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    justify-self: center;
    align-self: center;
    margin-top: 7vw;
    justify-content: space-between;
    text-align: center;
}

.order-complete {
    justify-self: center;
}

.checkmark {
    font-size: 16vw;
    justify-self: center;
}

.go-back {
    justify-self: center;
}

.back-home {
    grid-row: 5 / 6;
    grid-column: 2 / 5;
    align-self: center;      
    justify-self: center;
    display: flex;
    padding: 15px 30px;
    background-color: #171717;
    color: white;
    font-size: 1.5vw;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    width: 60%;
    height: 10%;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 7vw;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
}




@media (max-width:60em) {

    .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    height: 100vh;
    width: 100vw;
}

.content {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    justify-self: center;
    align-self: center;
    margin-top: 7vw;
    justify-content: space-between;
    text-align: center;
}

.order-complete {
    justify-self: center;
}

.checkmark {
    font-size: 16vw;
    justify-self: center;
}

.go-back {
    justify-self: center;
}

.back-home {
    grid-row: 5 / 6;
    grid-column: 2 / 5;
    align-self: center;      
    justify-self: center;
    display: flex;
    padding: 15px 30px;
    background-color: #171717;
    color: white;
    font-size: 3vw;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    width: 60%;
    height: 7vh;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 7vw;
    justify-content: center;
    align-items: center;
}



}