body {
    display: flex;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    height: 100vh;
    width: 100vw;
    padding: 0;
}



.header {
    background-color: #feeba0;
    text-align: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 6;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}

.Logo {
    width: 18vw;
    height: 20vh;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    justify-self: center;
    align-self: center;
}

.cart-icon {
    color: black;
    grid-row:  1 / 2;
    grid-column: 4 / 5;
    font-size: 3rem;
    padding: 2vh;
    justify-self: end;
}

.product-card {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    height: 37vh;
    width: 10vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1vw;
    transition: 0.2s ease;
    align-items: center;

    display: flex;
    flex-direction: column;

}

.product-card a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}


.product-card2 {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    height: 37vh;
    width: 10vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1vw;
    transition: 0.2s ease;
    align-items: center;

    display: flex;
    flex-direction: column;    
}

.product-card3 {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    justify-self: center;
    align-self: center;
    height: 37vh;
    width: 10vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1vw;
    transition: 0.2s ease;
    align-items: center;

    display: flex;
    flex-direction: column;    
}

.product-card4 {
    grid-row: 2 / 4;
    grid-column: 4 / 5;
    justify-self: center;
    align-self: center;
    height: 37vh;
    width: 10vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1vw;
    transition: 0.2s ease;
    align-items: center;

    display: flex;
    flex-direction: column; 
}

.product-card5 {
    grid-row: 4 / 6;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    height: 37vh;
    width: 10vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1vw;
    transition: 0.2s ease;
    align-items: center;

    display: flex;
    flex-direction: column; 
}

.product-card6 {
    grid-row: 4 / 6;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    height: 37vh;
    width: 10vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1vw;
    transition: 0.2s ease;
    align-items: center;

    display: flex;
    flex-direction: column; 
}

.product-card7 {
    grid-row: 4 / 6;
    grid-column: 3 / 4;
    justify-self: center;
    align-self: center;
    height: 37vh;
    width: 10vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1vw;
    transition: 0.2s ease;
    align-items: center;

    display: flex;
    flex-direction: column; 
}

.addtocart {
    border-radius: 30px;
    background-color: #7b7b7d;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin-top: auto;
    width: 7vw;
    text-align: center;
    padding: 12px 24px;
    flex-shrink: 0;
    align-self: center;
    font-size: 1rem;

}

.image-one {
    height: 60%;
    width: 100%;
    padding: 0;
    box-shadow: 0 5px 5px #e1e1e1;
    display: block;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.image-one img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 10px 10px 0 0;
}


.image-two {
    height: 60%;
    width: 100%;
    padding: 0;
    box-shadow: 0 5px 5px #e1e1e1;
    display: block;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.image-two img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 10px 10px 0 0;
}

.image-three {
    height: 60%;
    width: 100%;
    padding: 0;
    box-shadow: 0 5px 5px #e1e1e1;
    display: block;
    border-radius: 10px 10px 0 0;
}

.image-three img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.image-four {
    height: 60%;
    width: 100%;
    padding: 0;
    box-shadow: 0 5px 5px #e1e1e1;
    display: block;
    border-radius: 10px 10px 0 0;
}

.image-four img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 10px 10px 0 0; 
    background-color: white;
}

.image-five {
    height: 60%;
    width: 100%;
    padding: 0;
    box-shadow: 0 5px 5px #e1e1e1;
    display: block;
    border-radius: 10px 10px 0 0; 
}

.image-five img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.image-six {
    height: 60%;
    width: 100%;
    padding: 0;
    box-shadow: 0 5px 5px #e1e1e1;
    display: block;
    border-radius: 10px 10px 0 0; 
}

.image-six img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 10px 10px 0 0; 
    background-color: white;
}

.image-seven {
    height: 60%;
    width: 100%;
    padding: 0;
    box-shadow: 0 5px 5px #e1e1e1;
    display: block;
    border-radius: 10px 10px 0 0; 
}

.image-seven img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

@media (max-width:60em) {

body {
    display: block;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y:auto;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, auto));
    grid-template-rows: repeat(6, minmax(0, auto));
    height: auto;
    width: 100vw;
    gap: 1rem;
    padding: 0%;
}


.header {
    background-color: #feeba0;
    text-align: center;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 1;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    height: 10vh;
    display: flex;
    position: sticky;
    top: 0;
}

.Logo {
    width: 90%;
    height: 90%;
    max-width: 150px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    position: sticky;
    top: 0;
}

.cart-icon {
    color: black;
    grid-row:  1 / 2;
    grid-column: 2 / 3;
    font-size: 2rem;
    justify-self: end;
    position: sticky;
    top: 0;
}

.product-card {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    height: 32vh;
    width: 30vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.2s ease;
    align-items: center;
    text-decoration: none;
    color: inherit;
    align-items: center;
    font-size: 1rem;

    display: flex;
    flex-direction: column;

}

.product-card a {
    display: block;
    text-decoration: none;
    color: inherit;
    justify-content: stretch;
}

.product-card2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    height: 32vh;
    width: 30vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.2s ease;
    align-items: center;
    font-size: 1rem;

    display: flex;
    flex-direction: column;    
}

.product-card3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    height: 32vh;
    width: 30vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.2s ease;
    align-items: center;
    font-size: 1rem;

    display: flex;
    flex-direction: column;    
}

.product-card4 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    height: 32vh;
    width: 30vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.2s ease;
    align-items: center;
    font-size: 1rem;

    display: flex;
    flex-direction: column; 
}

.product-card5 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    height: 32vh;
    width: 30vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.2s ease;
    align-items: center;
    font-size: 1rem;

    display: flex;
    flex-direction: column; 
}

.product-card6 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    height: 32vh;
    width: 30vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.2s ease;
    align-items: center;
    font-size: 1rem;

    display: flex;
    flex-direction: column; 
}

.product-card7 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    height: 30vh;
    width: 30vw;
    background-color: #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.2s ease;
    align-items: center;
    font-size: 1rem;

    display: flex;
    flex-direction: column; 
}

.addtocart {
    border-radius: 30px;
    background-color: #7b7b7d;
    color: black;
    cursor: pointer;
    margin-top: auto;
    text-align: center;
    padding: 6px 12px;
    height: 4vh;
    width: 24vw;

}

}