body {
    height: 100vh;
    width: 100vw;
    background-color: #feeba0;
    overflow: hidden;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    width: 100vw;
    height: 100vh;

}

.jacket-name {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 3vw;
    justify-self: center;
    align-self: baseline;
    color: white;
    z-index: 1;
}

.info {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    color: white;
    font-size: 1.7vw;
    width: 30vw;
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: self-end;
    text-align: center;
    
    z-index: 1;
}

.image-one {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    width: 28vw;
    height: 67vh;
    justify-self: center;
    align-self: center;
    border-radius: 3vw;
    object-fit: contain;
}

.half-circle {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    width: 85vw;
    height: 150vh;
    background-color: #171717;
    border-radius: 200%;
    z-index: 0;
    justify-self: end;
    align-self: center;
    transform: translateX(50%);
}

.addtocart {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    align-self: center;      
    justify-self: center;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    background-color: #171717;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    width: 18vw;
    height: 7vh;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.arrow-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 4rem;
    color: black;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

@media (max-width:60em) {

    body {
    height: 100vh;
    width: 100vw;
    background-color: #feeba0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

    .image-one {
    grid-column: 1;
    grid-row: 1 / 3;
    width: 60vw;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    margin-top: 14vw;
    }

    .half-circle {
        display: none;
    }

    .addtocart {
    grid-row: 4 / 5;
    grid-column: 1;
    align-self: end;      
    justify-self: center;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    background-color: #171717;
    color: white;
    font-size: 4vw;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    width: 30vw;
    height: 7vh;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    margin-bottom: 4vw;
    }

    .jacket-name {
    grid-row: 3 / 5;
    grid-column: 1;
    font-size: 3vw;
    justify-self: center;
    align-self: center;
    color: black;
    margin-bottom: 10vw;
    }

    .info {
    grid-row: 4 / 5;
    grid-column: 1;
    color: black;
    font-size: 3vw;
    width: 70vw;
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: self-start;
    margin-top: 0vw;
    text-align: center;
    font-weight: bolder;
    }
}