body {
    background-color: #171717;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
}

.header {
    background-color: #feeba0;
    grid-area: 1 / 1 / 2 / 6;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    
}

.Logo {
    width: 325px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    justify-self: center;
    align-self: center;
}

.item {
    padding: 10px;
    font-family: Arial, sans-serif;
}
.item-1 {
    display: flex;
    background-color:#171717 ;
    color: white;
    text-align: center;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 6;

    @media (width >= 40em) {
        font-size: 3rem;
    }

    @media (width >=60em) {
        font-size: 4rem;
    }

}

.paragraph {
    display: none;
}

@media (min-width: 60em){
        .paragraph {
            align-self: center;
            justify-self: center;
            text-align: center;
            font-size: 1.5rem;
            display: block;
            color: white;
            grid-column: 4 / 7;
            z-index: 1;
        }
    }

.button {
    grid-row: 5 / 6;
    grid-column: 2 / 5;
    align-self: center;      
    justify-self: center;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    background-color: #feeba0;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    width: 60vw;
    text-decoration: none;
    box-sizing: border-box;
}

@media (min-width: 60em) {
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        background-color: #feeba0;
    }


    .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .header {
        display: none;
    }

    .shape {
        position: absolute;
        background-color: #171717;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
            clip-path: polygon(
            40% 100%,
            100% 100%,
            100% 0,
            70% 0
        );
    }

        .item-1 {
        display: none;
    }

    .paragraph-1 {
        grid-row: 2 / 3;
    }

    .paragraph-2 {
        grid-row: 3 / 4;
        max-width: 70%;
    }

    .paragraph-3 {
        grid-row: 4 / 5;
        max-width: 95%;
    }

    .paragraph-4 {
        grid-row: 5 / 6;
    }

    .Logo {
        grid-row: 2 / 5;
        grid-column: 1 / 4;
        z-index: 1;
        width: 40vw;
        height: 40vh;
    }

    .button {
        background-color: #171717;
        color: white;
        width: 20vw;
        height: 7vh;
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }
}