body {
    background-color: #feeba0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    height: 100vh;
    width: 100vw;
}

.logo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 20vh;
    width: 20vw;
    justify-self: center;
}

.your-cart-top {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    color: black;
    justify-self: center;
    align-self: center;
    font-size: 2.4vw;
}

.cart-item {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: end;
    height: 16vh;
    background-color: #171717;
    width: 33vw;
    border-radius: 30px;
    justify-content: space-between;

}

.product-image {
    height: 100%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.product-info {
    display: flex;
    color: white;
    text-align: left;
    justify-items: start;
    align-items: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -7vw;
}

.product-info h4 {
    font-size: 1vw;
}

.price {
    font-size: 1.5vw;
}

.quantity {
    display: flex;
    align-items: center;
    font-size: 1.8vw;
    color: white;
    padding: 1vw;
    justify-content: space-between;
    gap: 1vw;
}

.qty-button {
    background-color: #feeba0;
    border-radius: 50%;
    font-size: 1.8vw;
    cursor: pointer;
    height: 6vh;
    width: 3vw;
}

.cart-info {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    background-color: #171717;
    border-radius: 30px;
    height: 45vh;
    width: 23vw;
    justify-self: end;
    margin: 4vw;
    color: white;
}

.your-cart {
    text-align: center;
    font-size: 1.8vw;
}

.cart-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw;
    font-size: 1.6rem
}

.cart-total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw;
    font-size: 1.6vw
}

.checkout {
    display: flex;
    background-color: #feeba0;
    align-self: center;
    justify-self: center;
    color: black;
    width: 15vw;
    height: 3.4vw;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem
}

a.checkout-link {
    text-decoration: none !important;
}

.triangle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 19vw solid black;
    border-top: 15vw solid transparent;
    z-index: 1;
}

.arrow-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 4rem;
    color: black;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

@media (max-width:60em) {

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    height: 100vh;
    width: 100vw;
}

.triangle {
    display: none;
}

.logo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 20vh;
    width: 40vw;
    justify-self: center;
}
.your-cart-top {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    color: black;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
}

.cart-info {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    background-color: #171717;
    border-radius: 30px;
    height: 40vh;
    width: 50vw;
    justify-self: center;
    margin: 4vw;
    color: white;
}

.your-cart {
    text-align: center;
    font-size: 1.5rem;
}

.cart-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw;
    font-size: 1.6rem
}

.cart-total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw;
    font-size: 1.6rem;
}

.checkout {
    display: flex;
    background-color: #feeba0;
    align-self: center;
    justify-self: center;
    color: black;
    width: 30vw;
    height: 7vw;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1rem
}

.cart-item {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-self: start;
    height: 16vh;
    background-color: #171717;
    width: 70vw;
    border-radius: 30px;
    justify-content: space-between;
    margin-left: 13vw;
}

.product-info h4 {
    display: flex;
    color: white;
    text-align: left;
    justify-items: start;
    align-items: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1vw;
    font-size: 1.1rem;
}
.price {
    font-size: 1.5rem;
    margin-right: -10vw;
}
.quantity {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: white;
    padding: 1vw;
    justify-content: space-between;
    gap: 1vw;
}

.qty-button {
    background-color: #feeba0;
    border-radius: 50%;
    font-size: 1.6rem;
    cursor: pointer;
    height: 7vh;
    width: 7vw;
}
}